﻿
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script>
    $(document).ready(function () {
        $('Upload').click(function () {

        })
    })
</script>*@

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input id="Upload" type="submit" value="Загрузить" />
}


<img src="~/Content/Images/3pyI9olRypQ.jpg" style="width:100%;height:100%"/>