﻿
@{
    ViewBag.Title = Resources.Resource.LoginButton;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script>
        $(document).ready(function () {
            $('#Foto').click(function () {
                $('#ShadowBox').removeClass('hidden')
                $('#Carusel').removeClass('hidden')
            })
            $('#ShadowBox').click(function () {
                $('#ShadowBox').addClass('hidden')
                $('#Carusel').addClass('hidden')
            })
        });
    </script>
</head>
<body>
    @*ШАДОУ БОКС*@
    <div id="ShadowBox" class="container-fluid hidden" style="width:100%; height:100vh; background-color: rgba(0, 0, 0, 0.7); position:fixed; z-index:998">
    </div>

    @*КАРУСЛЬ С ФОТКАМИ*@
    <div class="container hidden" id="Carusel">
        <div class="row">
            <div class="col-lg-offset-3 col-md-offset-5" style="z-index:999; position: fixed; background-color:aquamarine;margin-top:70px">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/Images/HkSYkgOUNok.jpg" style="width:100%" />
                        </div>

                        <div class="item">
                            <img src="~/Content/Images/HkSYkgOUNok.jpg" style="width:100%" />
                        </div>

                        <div class="item">
                            <img src="~/Content/Images/HkSYkgOUNok.jpg" style="width:100%" />
                        </div>

                        <div class="item">
                            <img src="~/Content/Images/HkSYkgOUNok.jpg" style="width:100%" />
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>              
            </div>
        </div>
    </div>

   @*ПАРАМЕТРЫ ПОИСКА*@
    <div class="container-fluid">
        <div class="row">
            <div class="dropdown" style="width:100%">
                <div>
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:white">
                        Search parameters
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"style="width:100%">
                        <li>
                            <div style="width:100%">
                                <input />
                                <input />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br />

        @*ДИВ С КАРТИНОЧКАМИ*@
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-md-4 col-sm-10" style="height:400px;border-top:1px solid;border-bottom:1px solid;border-left:1px solid;border-right:1px solid;border-color:black">
                @*КАРТИНОЧКА*@
                <div style="background-color: white; height:300px; margin-top:10px;">
                    <div id="Foto" style="width:100%; height:100%">
                        <img src="~/Content/Images/HkSYkgOUNok.jpg" style="width:100%; height:100%"/>
                    </div>
                </div>
                @*ЛАЙКИ КАРТА ТД*@
                <div style="border-top:1px solid;border-color:black; margin-top:5px">
                    <span>
                        <a class="glyphicon glyphicon-thumbs-up" style="color:black; font-size:30px; margin-top:25px;margin-left:8px;"></a>
                        <span style="margin-left:5px;font-size:30px">
                            5
                        </span>
                        <a class="glyphicon glyphicon-screenshot"style="color:black; font-size:30px; margin-left:20px"></a>
                        <span style="font-size:15px;margin-left:20px;">
                            300 meters from you
                        </span>
                    </span>
                </div>
            </div>
            @*СЛЕДУЮЩИЙ DIV С КАРТИНОЧКАМИ*@
            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>
        </div>
        <br />
        @*СЛЕДУЮЩИЙ РОВ С КАРТИНОЧКАМИ*@
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>

            <div class="col-md-offset-2 col-sm-offset-1 col-md-4 col-sm-10" style="background-color: darkcyan; height:400px;">

            </div>
        </div>
    </div>
</body>
