﻿html, body {
    /*font: 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;*/
    /*font: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    /*font-family: 'Roboto',sans-serif;*/
    /*-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 400;*/
    /*background-color: #F7F7F7;*/
    width: 100%;
    height: 100%;
    color: #333;
}

.vcenter {
    display: flex;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.auth_form {
    /*margin-bottom: 50px;*/
    padding-left:   15px;
    padding-top:    30px;
    padding-right:  15px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.auth_form .logo {
    padding-bottom: 10px;
    height: 60px;
    width: 100%;
    text-align: center; 
    background-color: #FFFFFF;
}

.auth_form .logo img {
    max-height: 100%;
}

.auth_form #AuthForm {
    padding-left:   35px;
    padding-top:    0px;
    padding-right:  35px;
    padding-bottom: 0px;
}

.auth_form #AuthForm .input-group {
    margin-bottom: 5px;
}

.line-scale > div {
  background: #337ab7;
  height: 20px;
}

.input-xs {
  height: 28px;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 0px;
}

/*A*/
a {
    cursor: pointer;
}
/*BUTTON*/
/*.btn {
    border-radius: 0px;
}

.btn-link-active {
    text-decoration: underline;
    color: #23527C;
}*/

/*LIST*/
/*.list-group {
    border-radius: 0px;
}

.list-group-item {
    border-radius: 0px;
}*/

/*NAVBAR*/
/*.navbar-default {
    margin-bottom: 0px; 
    border-radius: 0px 0px 0px 0px;  
    background-color: #FFFFFF;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    //transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #f8f8f8;
    cursor: pointer;
    border-bottom: 2px solid #337ab7;
}*/

/*NAVTABS*/
/*.nav-tabs > li > a {
    border-radius: 0px;
    margin-right: 3px;
}

.nav-tabs > li.active > a {
    border-bottom: 2px solid #337ab7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: pointer;
    border-bottom: 2px solid #337ab7;
}*/

/*FORM*/
.input-xs {
  padding: 4px 6px;
}

.header-input {
    border: 1px solid #ffffff;
}

.input-group-addon {
    border-radius: 0px;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*TABLE*/
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    font-weight: normal;
    text-align: center;
    color: #333333;
    background-color: #e7e7e7;
    border-color: #ccc; 
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}