﻿@model Outdoor.Models.Auth.AuthFormModel


@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-center">
                <text style="color: forestgreen"><h2>@ViewBag.R</h2></text>
            </div>
        </div>
    </div>
    <div style="display: table; height: calc(100% - 45px); width: 100%; background-color: #F8F8F8;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-left auth_form">
                        @*<div class="logo">
                                <img src="/Content/Images/Logo.png" alt="Company logo">
                            </div>*@

                        @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { @id = "AuthForm" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                             <div class="input-group">
                                <span id="AuthFormCompanyTag" class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" style="margin-top: 5px; padding-left: 25px; padding-right: 25px; width:100%">@Resources.Resource.LoginButton</button>
                                <button id="Registration" type="button" class="btn btn-primary" onclick="window.location.href='/Auth/Registration' " style="margin-top: 5px; padding-left: 25px; padding-right: 25px; width:100%">@Resources.Resource.RegistrationButton</button>
                                <button id="Registration" type="button" class="btn btn-primary" onclick="window.location.href='/Auth/ResetPassword' " style="margin-top: 5px; padding-left: 25px; padding-right: 25px; width:100%">RPass</button>
                            </div>
                            }   
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-center">
                        @using (Html.BeginForm("ChangeCulture", "Auth", FormMethod.Post))
                        {
                                    <button type="submit" name="lang" value="en" class="glyphicon glyphicon-fire"></button>
                                    <button type="submit" name="lang" value="pl" class="glyphicon glyphicon-screenshot"></button>
                                    <button type="submit" name="lang" value="ru" class="glyphicon glyphicon-eye-open"></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


