﻿@model Outdoor.Models.Auth.ResetPassword2FormModel
@{
    ViewBag.Title = "ResetPassword2";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div style="display: table; height: calc(100% - 45px); width: 100%; background-color: #F8F8F8;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 col-sm-offset-6 col-sm-12 col-md-offset-8 col-md-8 col-lg-offset-8 col-lg-8 text-left auth_form">
                    @using (Html.BeginForm("ResetPassword2", "Auth", FormMethod.Post, new { @id = "AuthForm" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <label>Enter Secret pass :</label>
                        <div class="input-group">
                            <span id="AuthFormCompanyTag" class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            @Html.TextBoxFor(model => model.SecretPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SecretPassword, "", new { @class = "text-danger" })
                        </div>
                        <label>@Resources.Resource.ErrorEmptyPassword :</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <label>@Resources.Resource.PasswordReenterReg :</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            @Html.PasswordFor(model => model.Password2, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password2, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group" style="width:100%">
                            <button type="submit" class="btn btn-primary" style="margin-top: 5px; padding-left: 25px; padding-right: 25px; width:100%">@Resources.Resource.LoginButton</button>
                            <button type="button" onclick="window.location.href='/Auth/Index'" class="btn btn-primary" style="margin-top: 5px; padding-left: 25px; padding-right: 25px; width:100%">Close</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

