﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/allstyles")*@
    <link href="/Content/Styles/Bootswatch/yeti.min.css" rel="stylesheet">
    <link href="/Content/Styles/loaders.min.css" rel="stylesheet">
    <link href="/Content/Styles/customize.css" rel="stylesheet">

    <script src="/Content/Scripts/JQuery.js"></script>
    <script src="/Content/Scripts/Respond.js"></script>
    <script src="/Content/Scripts/Loaders.js"></script>
    <script src="/Content/Scripts/Bootstrap.js"></script>
</head>
<body>
    <script>
        var SearchPendingIndex = 0;
        var SearchAjaxIndex = 0;

        function PageLoad() {
            $('#SearchInput').keyup(function (e) {
                if (e.which == 17 || e.which == 18 || e.which == 9) {
                    e.preventDefault();
                }
                var SearchInputCount = $('#SearchInput').val().length;
                if (SearchInputCount > 0) {
                    Search();
                }
                else{
                    $('#Output').empty();
                }  
            });
            $('#SearchInput').on('paste', function (e) {
                Search();
            });
        }
        function Search() {
            $.ajax({
                url: '/Home/Ajax',
                type: 'Get',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: { 'SearchText': $('#SearchInput').val() },
                beforeSend: function () {
                    SearchPendingBoxShow();
                },
                success: function (Data) {
                    console.log(Data);
                    $('#Output').empty();
                    for (var i= 0; i < Data.Result.length; i++)
                    {
                        if (i < 10) {
                            $('#Output').append("<br/>" + "<span>" + "<a>" + Data.Result[i].Name + " " + Data.Result[i].SName  + "</a>" + "</span>" + "<br/>");
                        };
                    };
                },
                error: function (Data) {
                    SearchPendingBoxHide();
                }
            }).promise().done(function () {
                SearchPendingBoxHide();
            });
        }
        function SearchPendingBoxShow() {
            if (SearchPendingIndex == 0) {
                $("#SearchPendingBox").show();
            }
            SearchPendingIndex++;
        }

        function SearchPendingBoxHide() {
            SearchPendingIndex--;
            if (SearchPendingIndex == 0) {
                $("#SearchPendingBox").hide();
            }
        }
        $(document).ready(function () {
            $('#MenuButtonHide').click(function () {
                $('#Menu').hide(800);
                $('#MenuButton').show(1000);
            });
            $('#MenuButton').click(function () {
                $('#MenuButton').hide();
                $('#Menu').removeClass('hidden');
                $('#Menu').show(800);
            });
        });
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(Resources.Resource.ExitButton, "Logout", "Auth")</li> 
                    <li>@Html.ActionLink("Account", "Account", "Home")</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="margin-top:7px;border:none;">
                                @Resources.Resource.LanguageButton
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="text-align:center">
                                <li>
                                    @using (Html.BeginForm("ChangeCulture", "Auth"))
                                    {
                                        <button class="btn btn-primary" type="submit" name="lang" value="en" style="border:none; width:100%">English</button>
                                        <button class="btn btn-primary" type="submit" name="lang" value="pl" style="border:none; width:100%">Polski</button>
                                        <button class="btn btn-primary" type="submit" name="lang" value="ru" style="border:none; width:100%">Русский</button>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>               
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <br />
        <br />
        <br />
        @RenderBody()
    </div>

</body>
</html>
