﻿@model Outdoor.Models.Auth.AuthFormModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="alert alert-danger">
        <strong>Error</strong> @ViewContext.ViewData.ModelState
    </div>
    @RenderBody()
</body>
</html>
